.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;

    &.sticky {
        background-color: $quaternaryColor;
        position: fixed;
        z-index: 999;

        .container {
            .logo {
                img {
                    &.logo-sticky {
                        display: inline;
                    }

                    &.logo-main {
                        display: none;
                    }
                }
            }

            .menu {
                li {
                    a {
                        color: $teriaryColor;
                    }
                }

            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;



        .logo {
            img {
                max-height: 40px;

                &.logo-sticky {
                    display: none;
                }
            }

        }

        .menu {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;


            li {
                margin: 0 0 0 35px;
                position: relative;

                &:hover {

                    a {
                        color: $secondaryColor;
                    }

                    .submenu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0px);
                        transform: scaleY(1);
                    }
                }

                &:first-child {
                    margin: 0;



                }

                a {
                    color: $quaternaryColor;
                    font-weight: 600;
                    font-size: 17px;
                    text-transform: uppercase;
                    padding: 35px 0;
                    display: inline-block;

                }

                .submenu {
                    position: absolute;
                    padding: 30px 0;
                    background-color: $quaternaryColor;
                    border-bottom: 5px solid $secondaryColor;
                    min-width: 200px;
                    list-style-type: none;
                    margin: 0;
                    top: 100%;
                    left: 0%;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-10px);
                    transform: scaleY(0);
                    transform-origin: 0 0 0;
                    transition: .2s;


                    li {
                        margin: 0 0 10px 0;

                        &last-child {
                            margin: 0;
                        }

                        a {
                            color: $teriaryColor;
                            font-size: 15px;
                            font-weight: 400;
                            text-transform: none;
                            padding: 0 10px;
                        }
                    }

                }
            }
        }

    }
}