$mainFontFamily: 'Rubik',
sans-serif;
$headerFontFamily:'Nunito',
sans-serif;

$mainTextColor: #505050;
$primaryColor: #1C335F;
$secondaryColor: #f4bf00;
$teriaryColor: #111111;
$quaternaryColor: #ffffff;



$driverTextColor: #ffffff;
$studyBgColor: #f9f8f8;