$bodyBgColor: #3d798b;

$facebookColor: #3b5999;
$twitterColor: #55acee;
$pinterestColor: #C62026;
$linkedInColor: #0A66C2;



$socialMedia : ('facebook' : $facebookColor,
    'twitter' : $twitterColor,
    'pinterest' : $pinterestColor,
    'linkedin' : $linkedInColor)